@model Dictionary<string, List<string>>

<!DOCTYPE html>
<html>
<head>
    <title>Container and Blob Information</title>
    @*  <style>
    .lidummy {
    margin-bottom: 10px;
    padding: 10px;
    /* background-color: #f9f9f9; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .uldummy {
    list-style-type: none;
    padding: 0;
    }
    </style> *@


    <style>
        .card {
        }
    </style>
</head>
<body>
    @*     <div class="container">
    <h1>Container and Blob Information</h1>
    <ul class="uldummy">
    @foreach (var item in Model)
    {
    <li class="lidummy">@Html.Raw(item)</li>
    }
    </ul>
    </div> *@


    @*  <h4 class="card-title">Secondary card title</h4> *@
    @*  @foreach (var item in Model)
    {
    <div class="card border-secondary mb-3" style="max-width: 25rem;">
    <div class="card-header">@item.Key</div>
    <div class="card-body">

    @foreach (var itemBlob in item.Value)
    {
    <p class="card-text">@itemBlob</p>
    }

    </div>
    </div>
    } *@


    <div class="container-fluid">
        <div class="row flex-nowrap overflow-y-auto">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card border-secondary mb-3 shadow-lg" style="max-width: 25rem;max-height:25rem;overflow:auto">
                        <div class="card-header text-dark">@item.Key</div>
                        <div class="card-body" style="word-wrap:break-word;">
                            @foreach (var itemBlob in item.Value)
                            {
                                <p class="card-text small shadow-lg rounded p-1">@itemBlob</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



</body>
</html>
